NEXT_PUBLIC_SUPABASE_URL=https://wqwtfcmgeuxzfejpveyx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indxd3RmY21nZXV4emZlanB2ZXl4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5ODk2MzYsImV4cCI6MjA5MTU2NTYzNn0.FcK0h19bhdzg15uHKH-lhIRQ6Tta_VcyhMNhQYwoxeI
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=assets
SUPABASE_SERVICE_ROLE_KEY=
